.header {
  background-color: purple;
  display: flex;
  position: fixed;
  top: 0;
  height: 60px;
  width: 100%;
  z-index: 1;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.header a {
  color: white;
  text-decoration: none;
}

.logo {
  font-size: 1.5em;
  height: 100%;
  width: 50%;
  display: flex;
  margin-left: 1rem;
  align-items: center;
}

.header nav {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 100%;
  text-align: right;
  justify-content: center;
  margin-right: 1rem;
}

.main {
  margin-top: 85px;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

h3 {
  font-size: 1.3em;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.container,
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  padding: 1.7rem;
}

.cards__container,
.deck__container,
.search__container {
  flex-wrap: wrap;
  justify-content: space-around;
}

.cards__container .card {
  position: relative;
  text-align: center;
  margin-bottom: 1.5rem;
}

.deck__container .card {
  position: relative;
  text-align: center;
  margin-bottom: 0.5rem;
}

img {
  min-width: 120px;
  width: 100%;
  max-width: 100%;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.infos__wrapper {
  width: 100%;
  flex-direction: column;
  align-items: center;
  padding: 0 2rem;
}

.form__container {
  width: 100%;
  flex-direction: column;
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
}

.form__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.form__wrapper:nth-child(2) {
  margin-top: 1rem;
}

.form__wrapper label {
  width: 50%;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.form__field {
  height: 35px;
  padding-left: 10px;
  min-width: 20%;
}

.card__value {
  margin: 0.3rem auto 0 auto;
  text-align: center;
}

.card__value--name {
  margin: 1rem 0;
}

.card__value--name span {
  font-size: 2.2rem !important;
}

.card__value--west {
  padding-bottom: 2rem;
}

.card__value span {
  font-weight: bold;
  font-size: 1.2rem;
}

.card__infos--name {
  position: absolute;
  bottom: 13px;
  left: 0;
  right: 0;
  letter-spacing: 0.2px;
  color: #eee;
  text-transform: uppercase;
  font-weight: bold;
}

.card__wrapper {
  text-align: center;
  margin-bottom: 2rem;
}

.button__add {
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(#fff 0 0), linear-gradient(#fff 0 0), #36a769;
  background-position: center;
  background-size: 40% 4px, 4px 40%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.button__remove {
  font-weight: 900;
  text-decoration: none;
  display: inline-block;
  width: 50px;
  height: 50px;
  background: linear-gradient(#fff 0 0), #b43344;
  background-position: center;
  background-size: 40% 4px, 4px 40%;
  background-repeat: no-repeat;
  border-radius: 50%;
}

.button__submit {
  height: 50px;
  background-color: #36a769;
  font-size: 1rem;
  letter-spacing: 0.5px;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  border: 0;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 1rem;
}

.button__add--onCard {
  position: absolute;
}

.error {
  text-align: center;
  width: 100%;
}

.error--alrdyIn {
  color: #ef2a44;
  font-weight: bold;
  position: fixed;
  background: #000000c2;
  padding: 1rem 0;
  z-index: 1;
  bottom: 0;
  backdrop-filter: blur(5px);
}

.footer {
  text-align: center;
  width: 100%;
  height: 48px;
  background: black;
  color: white;
}

@media only screen and (min-width: 1024px) {
  .header {
    justify-content: space-between;
  }

  .header nav {
    flex-direction: initial;
    width: auto;
    align-items: center;
  }

  .header nav a {
    margin-left: 1rem;
  }

  .header nav a:hover {
    text-decoration: underline;
  }
  
  .main {
    width: 80%;
    margin: 110px auto 0 auto;
    min-height: calc(100vh - 158px);
  }

  img {
    min-width: 130px;
    width: 25%;
  }

  .img {
    min-width: 200%;
  }

  h1 {
    text-align: left;
  }

  h3 {
    margin-bottom: 1rem;
  }

  .container {
    padding: 3rem 2rem 0 2rem;
  }

  .button__submit {
    width: 160px;
    margin: 0;
  }

  .form__container {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
  }

  form {
    flex-direction: initial;
    width: 75%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-between;
  }

  .form__wrapper:nth-child(2) {
    margin: 0;
  }

  .form__field {
    min-width: 50%;
  }

  .form__wrapper label {
    margin-right: 1rem;
  }
  
  .infos__wrapper {
    justify-content: space-around;
    width: 100%;
    flex-direction: initial;
    position: relative;
  }

  .search__container .form__container {
    width: 60%;
  }

  .deck__container {
    width: 50%;
    margin: 0 auto;
  }

  .values__wrapper {
    width: 60%;
  }

  .card__value {
    text-align: left;
  }

  .button__wrapper--abs {
    display: block;
    position: absolute;
    bottom: -80px;
    left: 9.5vw;
  }

  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
