<%- include('header') %>

<h1>Recherche de cartes</h1>

<div class="search__container container">
  <div class="form__container">
    <h3>Par élément :</h3>
    <form action="/search/result" method="get">
      <select class="form__field" name="element" id="element">
        <option value="null">aucun</option>
        <option value="tonnerre">tonnerre</option>
        <option value="terre">terre</option>
        <option value="glace">glace</option>
        <option value="vent">vent</option>
        <option value="poison">poison</option>
        <option value="feu">feu</option>
        <option value="eau">eau</option>
        <option value="sacré">sacré</option>
      </select>
      <input class="button__submit" type="submit" value="rechercher" />
    </form>
  </div>

  <div class="form__container">
    <h3>Par Niveau :</h3>
    <form action="/search/result" method="get">
      <div class="form__wrapper">
        <label for="level">Niveau</label>
        <input
          class="form__field"
          type="number"
          name="level"
          id="level"
          min="0"
          max="10"
          value="0"
        />
      </div>
      <input class="button__submit" type="submit" value="rechercher" />
    </form>
  </div>

  <div class="form__container">
    <h3>Par valeur :</h3>
    <form action="/search/result" method="get">
      <div class="form__wrapper">
        <label for="direction">Direction</label>
        <select class="form__field" name="direction" id="direction">
          <option value="north">Nord</option>
          <option value="east">Est</option>
          <option value="south">Sud</option>
          <option value="west">Ouest</option>
        </select>
      </div>

      <div class="form__wrapper">
        <label for="value">Valeur</label>
        <input
        class="form__field"
          type="number"
          name="value"
          id="value"
          min="0"
          max="10"
          value="0"
        />
      </div>

      <input class="button__submit" type="submit" value="rechercher" />
    </form>
  </div>

  <div class="form__container">
    <h3>Par nom :</h3>
    <form action="/search/result" method="get">
      <input
        class="form__field"
        type="text"
        name="name"
        id="name"
        placeholder="ex: bogomile"
      />
      <input class="button__submit" type="submit" value="rechercher" />
    </form>
  </div>
</div>

<%- include('footer') %>
